@charset "utf-8";
/* CSS Document */

p{ text-indent:2em;}
#father1{ width:90%; height:800px;; position:relative; border:1px solid black; }
#gray1{ width:400px; height:200px; background-color:#ccc; position:absolute; margin-left:-200px; margin-top:-100px;top:50%; left:50%;}
#yellow11{ background-color:#fc0; border-radius:0 0 50px 0; -webketborder-radius:0 0 50px 0; -moz-border-radius:0 0 50px 0; width:50px; height:50px; position:absolute; top:50%; left:50%; margin-left:-200px; margin-top:-100px;}
#yellow12{ background-color:#fc0; border-radius:50px 0 0 0; -webketborder-radius:50px 0 0 0; -moz-border-radius:50px 0 0 0; width:50px; height:50px;  position:absolute; top:50%; left:50%; margin-left:150px; margin-top:50px;}

#father2{ width:800px; height:800px; border:1px solid black;  display:table-cell; vertical-align:middle;}
#gray2{ width:400px; height:200px; background-color:#ccc; margin:auto; position:relative;}
#yellow21{ background-color:#fc0; border-radius:0 0 50px 0; -webketborder-radius:0 0 50px 0; -moz-border-radius:0 0 50px 0; width:50px; height:50px;}
#yellow22{ background-color:#fc0; border-radius:50px 0 0 0; -webketborder-radius:50px 0 0 0; -moz-border-radius:50px 0 0 0; width:50px; height:50px; position:absolute; top:150px; left:350px;}